{% extends "basis_rooms.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {#    <div class="my-wrap" style="background: url('{{ about.photo.url }}')">#}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">

                {% if form.errors or messages %}
                    <div class="alert
                        {% if messages %} alert-success {% else %} alert-warning {% endif %}
                        alert-dismissible fade show" role="alert"
                         style="margin-top: 50px;">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% else %}
                            {{ form.errors }}
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <h4 class="mt-3 mb-3">Мій профіль</h4>
                <form action="{% url "account:profile" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ user_form.first_name.id_for_label }}">Ім'я</label>
                                {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="{{ user_form.last_name.id_for_label }}">Прізвище</label>
                                {{ user_form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ user_form.username.id_for_label }}">Лоґін</label>
                            {{ user_form.username }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ user_form.email.id_for_label }}">
                                Електронна скринька
                            </label>
                            {{ user_form.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ profile_form.phone.id_for_label }}">
                                Телефон
                            </label>
                            {{ profile_form.phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Зберегти">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}