<!-- ======= Contact Section ======= -->
<section id="contacts" class="contact">
    <div class="container">

        <div class="section-title">
            <h2><span>{{ contacts.title }}</span></h2>
            <p>{{ contacts.sub_title }}</p>
        </div>
    </div>

    <div class="container mt-5">

        <div class="info-wrap">
            <div class="row">
                <div class="col-lg-3 col-md-6 info">
                    <i class="bi bi-geo-alt"></i>
                    <h4>{{ contacts.address_title }}:</h4>
                    <p>{{ contacts.address }}</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-clock"></i>
                    <h4>{{ contacts.open_hours_title }}:</h4>
                    <p>{{ contacts.open_days_1 }}<br>{{ contacts.open_hours_1 }}</p>
                    <p>{{ contacts.open_days_2 }}<br>{{ contacts.open_hours_2 }}</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-envelope"></i>
                    <h4>{{ contacts.email_title }}:</h4>
                    <p>{{ contacts.email }}<br>{{ contacts.email_add }}</p>
                </div>

                <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi bi-phone"></i>
                    <h4>{{ contacts.phone_title }}:</h4>
                    <p>{{ contacts.phone }}<br>{{ contacts.phone_add }}</p>
                </div>

            </div>
        </div>
              <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1689.3463390970774!2d23.34824553394598!3d49.232280495403174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a3451ef7bffaf%3A0x9a38bedda3f87447!2z0JLRltC70LvQsCDQm9C10L7QvdGC0ZbRjw!5e0!3m2!1suk!2sua!4v1678388258848!5m2!1suk!2sua" width="1297" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
</section><!-- End Contact Section -->